/* Changing Susy default global settings */
//*Réglage de la grille de Susy3 - Basé sur la nouvelle propriété CSS grid-template-columns
$susy: (
  'columns': susy-repeat(12), // http://oddbird.net/susy/docs/a-config.html#variable--susy
  'gutters': 0.5em,  // taille de la gouttière entre colonnes (px,em,%)
  'spread': 'wide', // utilisation des gouttières par l'élément "span", 3 options possibles - http://oddbird.net/2017/06/13/susy-spread/
  'container-spread': 'wide', // utilisation des gouttières par le container, 3 options possibles

      //Debug

);




/* First, fix the browser box-model by setting a global box-sizing:
http://oddbird.net/2017/06/28/susy3/
*/
*, *:before, *:after {
  box-sizing: border-box;
}

//Mixins recréées pour Susy3
// clearfix
//voir fichier mixins_custom

// overall container mixin
@mixin container(
  $width: all,
  $config: $susy,
  $debug: false
) {
  $config: susy-settings($config);
  $container-spread: map-get($config, 'container-spread');
  $width: span($width $container-spread of $container-spread, $config);

  @include clearfix;
  margin: 0 auto;
  max-width: $width or 100%;

  @if $debug {
    background: susy-svg-grid($grid: $config) no-repeat scroll;
  }
}


// Span Mixin
// ----------
/*@mixin span(
  $span,
  $config: $susy
) {
  width: span($span, $config);

  @if index($span, 'last') {
    float: right;
    // margin-right: 0; if you want an explicit reset
  } @else {
    float: left;
    margin-right: gutter();
  }
}*/


//Pour eviter le Warning de Sass lors de la compilation
@mixin box-sizing($value) {
-moz-box-sizing: $value;
box-sizing: $value;
}

//Réglage du nombre de pixel pour changer de breakpoint() mixin
// qui simplifie les media-queries.Donner la largeur mini de l'ecran
// import via Gulp : https://github.com/at-import/breakpoint
//Wiki: https://github.com/at-import/breakpoint/wiki/Advanced-Media-Queries
// Source 2018 https://foundation.zurb.com/sites/docs/media-queries.html
// http://www.christophe-coyard.fr/blog/utiliser-les-media-queries
//https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/* small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,*/

$screen: 'screen';
$onlyscreen: 'only screen';
$notscreen: 'not screen';

$desktopnarrow  :  "#{$screen}" (min-device-width 1024px);// sortie=>> min-width: XXXpx xlarge 1024px
$desktop  :  "#{$screen}" (min-device-width 1200px);// sortie=>> min-width: XXXpx xlarge 1200px
$desktopwide  : "#{$screen}" (min-device-width 1440px) (min-resolution 1dppx);// sortie=>> min-width: XXXpx xxlarge 1440px


$mobile : "#{$onlyscreen}" (max-device-width 667px) (orientation portrait) (min-resolution 2dppx);//medium - Iphone->8
$mobile-iphonehd   : "#{$onlyscreen}" (device-width 414px 736px) (orientation portrait) (min-resolution 3dppx);//medium - Iphone6+->
$mobile-iphoneX   : "#{$onlyscreen}" (device-width 375px 812px) (orientation portrait) (min-resolution 3dppx);//medium - IphoneX
$mobile-galaxyShd   : "#{$screen}" (device-width 320px 640px) (orientation portrait) (min-resolution 3dppx);//medium - GalaxyS4 et suivants
$mobile-galaxyS6   : "#{$screen}" (device-width 360px 645px) (orientation portrait) (min-resolution 4dppx);//medium - GalaxyS6 et suivants
$tablet :  "#{$onlyscreen}" (device-width 768px 1024px) (orientation portrait) (min-resolution 1dppx);//large - Tablettes non HD
$tablet-hd: "#{$onlyscreen}" (device-width 1500px 2050px) (orientation portrait) (min-resolution 2dppx);//tablette HD, GalaxyTab S3 2048 x 1536 (QXGA) par ex.(Ipad2->)

// Breakpoint pour les format paysage
$mobilelandscape : "#{$onlyscreen}" (device-width 319px 765px) (orientation landscape);//pour orientation paysage (min-height 319px) (max-height 765px)
$mobilelandscape-galaxyShd   : "#{$screen}" (device-width 320px 645px) (orientation landscape) (min-resolution 3dppx);//medium - GalaxyS4 et suivants
$tabletlandscape: "#{$onlyscreen}"  (device-width 768px 1024px) (orientation landscape) (min-resolution 1dppx);//pour orientation paysage - Tablettes non HD
$tabletlandscape-hd: "#{$onlyscreen}" (device-width 1500px 2050px) (orientation landscape) (min-resolution 2dppx);//pour orientation paysage, tablette HD, GalaxyTab S3 2048 x 1536 (QXGA) par ex.

//Valeurs de colonnes pour un contexte spécifié
$mobilecol: susy-repeat(4);
$mobilecol-landscape: susy-repeat(6);
$tabletcol: susy-repeat(8);
$tabletcol-landcsape: susy-repeat(10);
$desktopcol: susy-repeat(12);

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- VARIABLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Nom du thème pour les ID des blocs avec D8 - Donne un ID du type
// #block-#{$theme}-local-tasks comme pour le BO
$theme:rostand_d8_2021;

/*-------- Couleurs charte graphique PF ----*/
$vert : #ADC91F;
$violet: #911381;
$orange : #F29400;
$orange-fonce: #e94f2d;
$bleu-turquoise: #01ABCF;
$rouge : #E3001C;
$rose-fushia : #E30078;
$jaune : #FAEB0C;
$gris-clair: #ECECED;
$gris-clair-moyen : #9898a6;
$gris-anthracite : #606070;
$gris-clair-typo:#808080;
$noir: #000000;
$blanc-casse: #FBFBFB;

/*------ Couleurs psécifiques site web ----- */
$prune:#543F4F;

// Ici paramétrer les couleurs pour l'annonce défilante
$color-defilant:$rose-fushia;
$color-defilant-a:$violet;

// Defaults settings for Zocial Sass plugin
$zocial-font-size: 1.8em;
$zocial-font-weight: bold;
$zocial-icon-font: zocial;
$zocial-icon-default: "\0020";
$zocial-text-font: helvetica;

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤

----- FONCTIONS PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/




/* ==============================
  Mixins custom Prefabriquées
=================================*/
//voir fichier mixins_custom
