// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss
/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               MON TYPE                      |
|--------------------------------------*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex {
  #zone-1.type-contenu-actualites {
    order: 1;
  }

  #zone-2.type-contenu-actualites {
    order: 2;
  }

  #zone-3.type-contenu-actualites {
    order: 3;
  }

  #zone-4.type-contenu-actualites {}

  #zone-5.type-contenu-actualites {}
  @include breakpoint ($desktop) {}
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur,
body .conteneur .conteneur-flex {
  @include breakpoint(($desktop,$tablet)) {}
}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
article.middle-content {
  //Empêche les flottants de sortir du conteneur
  @include clearfixsusy3;
}
//Permet de créer facilement les styles communs à des IDs ou/et classes
$typedecontenu: type-contenu-actualites, type-contenu-admin ; //2e boucle
$zones: zone-illustration ;//1ere boucle
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
  #illustration-pleinepage {
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    position: relative;
    //image par défaut en BG comme secours
    @include backgroundImage(("defaut/visuel-defaut-Actu-2019.jpg"),transparent,no-repeat, top left);
    background-size: cover;

    img {
      transform: translate(0%,0%);
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 25vw;
      max-height: 30vw;

      img {
        transform: translate(0%,-10%);
      }
    }
  }
} // Fin ##{$zone}.#{$type}
} // @each $zone in $zones
} // @each $type in $typedecontenu

$typedecontenu: type-annonce-accueil, type-contenu-admin, type-page-presse ; //2e boucle
$zones: zone-1 ; //1ere boucle - , zone-2, zone-3
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
  .bloc_docs_utiles_actu, .bloc_docs_utiles_admin {
    @include breakpoint(($desktop,$desktopwide)) {
      float: right;
      margin: span(0.1);
      padding: span(0.02);
      min-width: span(2);
      max-width: span(4);
    }
    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
      float: right;
      margin: span(0.1);
      padding: span(0.02);
      min-width: span(3);
      max-width: span(5);
    }
} // Fin bloc_docs_utiles_actu
} // Fin ##{$zone}.#{$type}
} // @each $zone in $zones
} // @each $type in $typedecontenu

#zone-2.type-contenu-actualites {
  .galerie {
    img {
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      max-width: span(10);
      margin: span(0.1) auto;
      padding: span(0.02);
    }
  }
}

#zone-3.type-contenu-actualites, #zone-3.type-contenu-admin {
  #region-zone-3 {
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      max-width: span(8);
      margin: span(0.1) auto;
      padding: span(0.02);
    }

    h2 {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre-page-globale {
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
    top: em(10px);
    left: em(10px);
  }
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
//https://benfrain.com/working-with-lists-and-each-loops-in-sass-with-the-index-and-nth-function/
//https://clubmate.fi/lists-in-sass-syntax-and-use-cases-with-examples/
//Permet de créer facilement les styles communs à des IDs ou/et classes
$typedecontenu: type-contenu-actualites, type-contenu-admin, CLASS_NAME_CONTENU3 ; //2e boucle
$zones: zone-1, zone-2, zone-3 ; //1ere boucle
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $violet;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $orange;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $violet;
      }

      h4 {
        @include font-size(m); //utilisation de typey
        color: $vert;
      }

      a {
        text-decoration: none;
        color: $gris-clair-typo;
        @include rollover-effect($orange); //Effet rollover CSS3

        &:hover {
          text-decoration: none;
          color: $gris-clair; //Couleur du hover, commenter si inutile
        }
      }
      em {//texte italique
        color: $orange;
      }
      strong {
        color: $violet;
      }
    } // Fin ##{$zone}.#{$type}
    } // @each $zone in $zones
    } // @each $type in $typedecontenu
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

$typedecontenu: type-annonce-accueil, type-contenu-admin, type-page-presse ; //2e boucle
$zones: zone-1 ; //1ere boucle - , zone-2, zone-3
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
  .bloc_docs_utiles_actu, .bloc_docs_utiles_admin {
    @include backgroundImage(("BG/stripe_gris_bleu_pastel.png"),transparent,repeat, top left);
    @include arrondis(1em);

    a {
      background: $gris-clair;
      color: $violet;
      text-decoration: none;
      padding: span(0.01) span(0.03);
      @include rollover-effect($rose-fushia); //Effet rollover CSS3 sur les liens
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        //Pour ne pas tronquer le picto fichier - décommenter si nécessaire
        //min-height: em(65px);
        border: inherit; //Pour éviter BP vide
      }

      &:hover {
        //:not([href*="fiche"])
        color: $gris-clair;
        background: $violet;
      }
    }

    a {
      &[href*=".pdf"] {
        &::before {  @include maskImage(("PNG/Fichier-blanc@3x.png"),100%,alpha,$gris-clair-moyen);
          background-size: contain;
          content: "";
          position: relative;
          vertical-align: middle;
          padding: em(13px);
          margin: em(3px) em(10px) em(3px) 0;
          transition: 0.5s all;
          display: inline-block;
          transform: scale(1);
          min-height: em(30px);
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            // Pour ne pas tronquer le picto
            min-height: em(33px);
          }
        }
      }

      img.filefield-icon {
        display: none; //initial
      }

      &[href*="http"],
      &[href*="actu"]:not([href$=".pdf"]):not([href*="fiche"]) {
        //pour cibler les liens externes et internes, exclure les pdf et le lien interne
        &::before {
          @include maskImage(("PNG/liens-blanc@3x.png"),100%,alpha,$gris-clair-moyen);
          background-size: contain;
          content: "";
          position: relative;
          vertical-align: middle;
          padding: em(13px);
          margin: em(3px) em(10px) em(3px) 0;
          transition: 0.5s all;
          display: inline-block;
          transform: scale(1);
          min-height: em(30px);
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            // Pour ne pas tronquer le picto
            min-height: em(33px);
          }
        }
      }
    }

    ul {
      li {
        //suppression des puces
        list-style-type: none;
        @include font-size(s); //utilisation de typey
      }
    }
    //Style spécifique
    .champ-field-relatif-formation, .champ-field-admin-files {
      max-width: 90%;

      a {
        @include font-size(m); //utilisation de typey
        font-style: italic;
      }
    }

    .label-field-passerelle-form {
      font-weight: bold;
      color: $gris-clair;
      background: $violet;
      padding: span(0.02);
      margin: 0 0 span(0.2) span(0.2);
    }

    .champ-field-admin-files,
    .label-field-fichier-joint-rp,
    .label-field-lien-rp {
      font-weight: bold;
      color: $gris-clair;
      background: $orange;
      padding: span(0.02);
      margin: 0 0 0 span(0.2);
    }
  }
} // Fin ##{$zone}.#{$type}
} // @each $zone in $zones
} // @each $type in $typedecontenu

#zone-2.type-contenu-actualites {
  .galerie {
    img {
      @include transition-hover(75ms);

      &:hover {
        @include zoom-css3-hover(0.95);
      }
    }
  }
}

#zone-3.type-contenu-actualites, #zone-3.type-contenu-admin {
  #region-zone-3 {
    @include backgroundImage(("BG/stripe_rosepale_violet_pastel.png"),transparent,repeat, top left);
    @include arrondis(1em);

    h2 {
      @include backgroundRGBA($gris-clair,0.7);
      //background: repeating-linear-gradient(to bottom ,$gris-clair 10px, transparent 17px);
      text-align: center;
    }
    aside.autres-actus{
    a {
      background: $gris-clair;
      @include rollover-effect($orange); //Effet rollover CSS3
    }
    ul {
      li {
        list-style: none;
      }
    }
  }// Fin aside.autres-actus
}
}
#zone-4.type-contenu-actualites {}

#zone-5.type-contenu-actualites {}
/*--------------------------------------
----------------------------------------*/
