{% if page.bandeau1 is not empty %}
  <div class="transformer">
    <div class="off-canvas">
      <div class="close">

        <img class="close-btn" src="/{{ base_path ~ directory }}/images/close.svg" alt="Fermer" title="Fermer"/>
      </div>
      <div class="bandeau-pagetop">
        {{ page.bandeau1 }}
      </div>
    </div>
    <a href="#" class="menu-toggle">Les lycées de Provence Formation</a>

  {% endif %}